.letter-box {
    height: 50px;
    text-align: center;
    padding: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #000;
    width: 50px;
    font-size: 44px;
    display: inline-block;
}
.content {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}
.G {
    background-color: #008000;
}
.Y {
    background-color: #ffff00;
}
.W {
    background-color: #fff;
}
.hide {
    display: none;
}
.used-letters {
    text-align: left !important;
    margin: 0 !important;
}
#answer-container {
    padding-top: 20px;
}
@media screen and (max-width: 600px) {
    .letter-box {
        height: 50px;
        width: 50px;
        font-size: 44px;
    }
    #guess {
        width: 160px;
    }
    .content {
        width: 370px;
    }
}
@media screen and (max-width: 950px) and (min-width: 600px) {
    .letter-box {
        height: 60px;
        width: 60px;
        font-size: 52px;
    }
    .content {
        width: 420px;
    }
}
@media screen and (min-width: 950px) {
    .letter-box {
        height: 75px;
        width: 75px;
        font-size: 67px;
    }
    .content {
        width: 500px;
    }
}